## Shipment Tracker - All Carriers

- **DHL**:
    - API Name: Shipment Tracking - Unified / Rate Limit: 250 requests every 1 day

#### Set Paths

In [1]:
from functions0_paths import get_paths, load_carrier_urls_details
# Change the value to "Logisteed"
excel_path, chromedriver_path, report_path = get_paths(user_name="Albert")
#display(excel_path, chrome_path, report_path)

#### Get New Track Report

In [2]:
from functions1_read_excel import not_delivered_by_carrier
excel_shipment_data = not_delivered_by_carrier(excel_path)
from functions2_build_url import get_chunked_urls
chunked_urls = get_chunked_urls(excel_shipment_data)
from functions3_api_details import set_API_requests
new_track_report = set_API_requests(chunked_urls, excel_shipment_data)
from functions5_save_to_excel import save_to_excel
save_to_excel(new_track_report, report_path)

**127 shipments NOT DELIVERED in your file**

Status Carrier  In Transit  Exception  Totals
0          DHL           7          0       7
1        NACEX           1          2       3
2          TNT         106          5     111
3          UPS           5          0       5

**URLs Processing and API Requests:**

DHL - https://api-eu.dhl.com/track/shipments?trackingNumber=8401020773,8401066483,4674780854
DHL - https://api-eu.dhl.com/track/shipments?trackingNumber=4674719221,6222779172,5053537996
DHL - https://api-eu.dhl.com/track/shipments?trackingNumber=7137953071

New report file saved at: Track Reports/Track Report 01-12-2023 16_08_23.xlsx

In [3]:
new_track_report

,Carrier,Client Reference,Shipment Num.,Origin Date,From,To,Num. of Pieces,Processing Days,Carrier Status,Last Update,Hour,Last Location,Last Action,Exception Notification
0,DHL,CLIENT FROM EXCEL,8401020773,16-11-23,Barcelona - Spain,Newcastle - UK,1,4,Delivered,20-11-23,12:11:00,Newcastle - UK,Delivered,None
1,DHL,CLIENT FROM EXCEL,8401066483,16-11-23,Barcelona - Spain,Manchester - UK,1,1,Delivered,17-11-23,11:06:00,Manchester - UK,Delivered,None
2,DHL,CLIENT FROM EXCEL,4674780854,16-11-23,Barcelona - Spain,Newcastle - UK,2,4,Delivered,20-11-23,12:15:00,Newcastle - UK,Delivered,None
3,DHL,CLIENT FROM EXCEL,4674719221,16-11-23,Barcelona - Spain,Manchester - UK,1,1,Delivered,17-11-23,11:34:00,Manchester - UK,Delivered,None
4,DHL,CLIENT FROM EXCEL,6222779172,16-11-23,Barcelona - Spain,Manchester - UK,1,4,Delivered,20-11-23,11:46:00,Manchester - UK,Delivered,None
5,DHL,CLIENT FROM EXCEL,5053537996,08-11-23,Barcelona - Spain,Glasgow - UK,1,5,Delivered,13-11-23,15:56:00,Glasgow - UK,Delivered,None
6,DHL,CLIENT FROM EXCEL,7137953071,10-10-23,Barcelona - Spain,Manchester - UK,1,1,Delivered,11-10-23,11:16:00,Manchester - UK,Delivered,None

In [4]:
excel_shipment_data

              LOGIS ID Carrier       T&T reference      Status
0            DSD118248   NACEX           607243961  IN TRANSIT
1    CLIENT FROM EXCEL     DHL          8401020773  IN TRANSIT
2    CLIENT FROM EXCEL     DHL          8401066483  IN TRANSIT
3    CLIENT FROM EXCEL     DHL          4674780854  IN TRANSIT
4    CLIENT FROM EXCEL     DHL          4674719221  IN TRANSIT
..                 ...     ...                 ...         ...
995          DSD121682     TNT           607254417  IN TRANSIT
996          DSD121684     TNT           607254425  IN TRANSIT
997          DSD121298     UPS  1Z1V47910443656755  IN TRANSIT
998          DSD121298     UPS  1Z1V47910443656755  IN TRANSIT
999                NaN     ADR                 NaN         NaN

[127 rows x 4 columns]

#### TNT

In [5]:
from functions3_api_details import get_API_details
# Iterate through each carrier and its associated chunk of URLs
for carrier, chunk_urls in chunked_urls.items():
    # If 'Carrier' is not empty
    if carrier:
        # Check if the carrier is DHL or TNT
        if carrier == 'TNT':
            # Initialize a list to store data for all shipments
            all_results_tnt = []
            # Iterate through each URL in the chunk
            for url in chunk_urls:
                print(url)
                # Set the current URL
                current_url = f"{url}"
                # Set the current carrier
                current_carrier = f"{carrier}"
                # Get API key for the current carrier
                api_key = get_API_details(current_carrier)
                # Set headers with the API key
                headers = {f"{current_carrier}-API-Key": api_key}
                print(headers)
                # Make the API request
                #response = requests.get(current_url, headers=headers)
                # Check if the API request was successful (status code 200)
                #if response.status_code == 200:
                    # Parse the JSON response
                #    data = response.json()
                #    tnt_results = extract_TNT_data(data) # Create Function
                #    all_results_tnt.extend(tnt_results)
                #else:
                    # Handle errors and return an error message
                #    return f"Error {response.status_code}: {response.text}"

https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=607245928,607245931,607245945,607245959,607245980,607247521,607247685,607247711,607248164,607248368,607248399,607248487,607249584,607250021,607250239,607250344,607250551,607251089,607251574,607251512,607251526,607251591,607251764,607251778,607251804,607251870,607252040,607252190,607252274,607252380
{'TNT-API-Key': 'No API details found for TNT'}
https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=607252570,607252464,607252478,607252481,607252495,607252549,607252583,607252610,607253544,607252623,607252685,607252756,607252773,607252827,607252932,607252950,607252963,607253045,607253147,607253178,607253266,607253306,607253354,607253385,607253408,607253411,607253527,607253558,607253615,607253629
{'TNT-API-Key': 'No API details found for TNT'}
https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=607253646,607253677,607253694,607253748,607253751,607253782,607253924,607253941,607253955,607253969,607253986,607253990,607254006,607254010,607254023,607254037,607254045,607254054,607254139,607254142,607254085,607254099,607254108,607254111,607254125,607254156,607254160,607254173,607254187,607254403
{'TNT-API-Key': 'No API details found for TNT'}
https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=607254195,607254200,607254332,607254227,607254235,607254244,607254258,607254275,607254289,607254292,607254301,607254315,607254329,607254346,607254350,607254363,607254377,607254385,607254394,607254417,607254425
{'TNT-API-Key': 'No API details found for TNT'}