## Shipment Tracker - All Carriers

#### Set Paths

In [1]:
from functions0_paths import get_paths, load_carrier_urls

In [2]:
# Change the value to "Logisteed"
excel_path, chrome_path, report_path = get_paths(user_name="Albert")
#display(excel_path, chrome_path, report_path)

#### Read Excel file

In [3]:
from functions1_read_excel import not_delivered_by_carrier
excel_shipment_data = not_delivered_by_carrier(excel_path)

**120 shipments pending to track**

ADR total shipments: 1

Empty DataFrame
Columns: [Carrier, Status, Count]
Index: []

NACEX total shipments: 3

  Carrier      Status  Count
0   NACEX   EXCEPTION      2
1   NACEX  IN TRANSIT      1

TNT total shipments: 111

  Carrier      Status  Count
2     TNT   EXCEPTION      5
3     TNT  IN TRANSIT    106

UPS total shipments: 5

  Carrier      Status  Count
4     UPS  IN TRANSIT      5

In [4]:
from functions2_build_url import get_chunked_urls
chunked_urls = get_chunked_urls(excel_shipment_data)