## Shipment Tracker - All Carriers

#### Set Paths

In [1]:
from functions0_paths import get_paths, load_carrier_urls_details
# Change the value to "Logisteed"
excel_path, chromedriver_path, report_path = get_paths(user_name="Albert")
#display(excel_path, chrome_path, report_path)

#### Get New Track Report

In [2]:
from functions1_read_excel import not_delivered_by_carrier
excel_shipment_data = not_delivered_by_carrier(excel_path)
from functions2_build_url import get_chunked_urls
chunked_urls = get_chunked_urls(excel_shipment_data)
from functions3_api_details import set_API_requests
new_track_report = set_API_requests(chunked_urls)
from functions5_save_to_excel import save_to_excel
save_to_excel(new_track_report, report_path)

**127 shipments NOT DELIVERED in your file**

Status Carrier  In Transit  Exception  Totals
0          DHL           7          0       7
1        NACEX           1          2       3
2          TNT         106          5     111
3          UPS           5          0       5

New report file saved at: ./Track Reports/Track Report 30-11-2023 22_02_05.xlsx

In [3]:
new_track_report

,Carrier,Client Reference,Shipment Num.,Origin Date,From,To,Num. of Pieces,Processing Days,Carrier Status,Last Update,Hour,Last Location,Last Action,Exception Notification
0,DHL,None,8401020773,16-11-23,Barcelona - Spain,Newcastle - UK,1,4,Delivered,20-11-23,12:11:00,Newcastle - UK,Delivered,None
1,DHL,None,8401066483,16-11-23,Barcelona - Spain,Manchester - UK,1,1,Delivered,17-11-23,11:06:00,Manchester - UK,Delivered,None
2,DHL,None,4674780854,16-11-23,Barcelona - Spain,Newcastle - UK,2,4,Delivered,20-11-23,12:15:00,Newcastle - UK,Delivered,None
3,DHL,None,4674719221,16-11-23,Barcelona - Spain,Manchester - UK,1,1,Delivered,17-11-23,11:34:00,Manchester - UK,Delivered,None
4,DHL,None,6222779172,16-11-23,Barcelona - Spain,Manchester - UK,1,4,Delivered,20-11-23,11:46:00,Manchester - UK,Delivered,None
5,DHL,None,5053537996,08-11-23,Barcelona - Spain,Glasgow - UK,1,5,Delivered,13-11-23,15:56:00,Glasgow - UK,Delivered,None
6,DHL,None,7137953071,10-10-23,Barcelona - Spain,Manchester - UK,1,1,Delivered,11-10-23,11:16:00,Manchester - UK,Delivered,None

In [4]:
chunked_urls['DHL']

['https://api-eu.dhl.com/track/shipments?trackingNumber=8401020773,8401066483,4674780854',
 'https://api-eu.dhl.com/track/shipments?trackingNumber=4674719221,6222779172,5053537996',
 'https://api-eu.dhl.com/track/shipments?trackingNumber=7137953071']