#### Set Paths

In [1]:
from functions0_paths import get_paths, load_carrier_urls

In [2]:
# Change the value to "Logisteed"
excel_path, chrome_path, report_path = get_paths(user_name="Albert")

#display(excel_path, chrome_path, report_path)

#### Read Excel file

In [3]:
from functions1_excel_to_url import (not_delivered_by_carrier, shipments_by_carrier,
                                    build_chunked_shipments, build_chunked_url)

shipment_data = not_delivered_by_carrier(excel_path)

**120 shipments pending to track**

ADR total shipments: 1

Empty DataFrame
Columns: [Carrier, Status, Count]
Index: []

NACEX total shipments: 3

  Carrier      Status  Count
0   NACEX   EXCEPTION      2
1   NACEX  IN TRANSIT      1

TNT total shipments: 111

  Carrier      Status  Count
2     TNT   EXCEPTION      5
3     TNT  IN TRANSIT    106

UPS total shipments: 5

  Carrier      Status  Count
4     UPS  IN TRANSIT      5

In [4]:
dict_carrier_urls = load_carrier_urls()
dict_carrier_urls

{'ADR': {'url': 'https://adr.example.com/api', 'max_shipments': 10},
 'DHL': {'url': 'https://dhl.example.com/api', 'max_shipments': 10},
 'NACEX': {'url': 'https://nacex.example.com/api', 'max_shipments': 10},
 'TNT': {'url': 'https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=',
  'max_shipments': 30},
 'UPS': {'url': 'https://ups.example.com/api', 'max_shipments': 10}}

In [5]:
shipm_num_by_carrier_dict = shipments_by_carrier(shipment_data)
shipm_num_by_carrier_dict

{'NACEX': ['607243961', 'DSD119050', 'DSD120006'],
 'TNT': ['607245928',
  '607245931',
  '607245945',
  '607245959',
  '607245980',
  '607247521',
  '607247685',
  '607247711',
  '607248164',
  '607248368',
  '607248399',
  '607248487',
  '607249584',
  '607250021',
  '607250239',
  '607250344',
  '607250551',
  '607251089',
  '607251574',
  '607251512',
  '607251526',
  '607251591',
  '607251764',
  '607251778',
  '607251804',
  '607251870',
  '607252040',
  '607252190',
  '607252274',
  '607252380',
  '607252570',
  '607252464',
  '607252478',
  '607252481',
  '607252495',
  '607252549',
  '607252583',
  '607252610',
  '607253544',
  '607252623',
  '607252685',
  '607252756',
  '607252773',
  '607252827',
  '607252932',
  '607252950',
  '607252963',
  '607253045',
  '607253147',
  '607253178',
  '607253266',
  '607253306',
  '607253354',
  '607253385',
  '607253408',
  '607253411',
  '607253527',
  '607253558',
  '607253615',
  '607253629',
  '607253646',
  '607253677',
  '607253694',
  '607253748',
  '607253751',
  '607253782',
  '607253924',
  '607253941',
  '607253955',
  '607253969',
  '607253986',
  '607253990',
  '607254006',
  '607254010',
  '607254023',
  '607254037',
  '607254045',
  '607254054',
  '607254139',
  '607254142',
  '607254085',
  '607254099',
  '607254108',
  '607254111',
  '607254125',
  '607254156',
  '607254160',
  '607254173',
  '607254187',
  '607254403',
  '607254195',
  '607254200',
  '607254332',
  '607254227',
  '607254235',
  '607254244',
  '607254258',
  '607254275',
  '607254289',
  '607254292',
  '607254301',
  '607254315',
  '607254329',
  '607254346',
  '607254350',
  '607254363',
  '607254377',
  '607254385',
  '607254394',
  '607254417',
  '607254425'],
 'UPS': ['1Z1V47910445166110',
  '1Z1V47910443867214',
  '1Z1V47910444927488',
  '1Z1V47910443656755',
  '1Z1V47910443656755'],
 'ADR': ['nan']}

In [6]:
dict_carrier_urls, chunked_carrier_dict = build_chunked_shipments(shipm_num_by_carrier_dict)

In [7]:
build_chunked_url(dict_carrier_urls, chunked_carrier_dict)

{'NACEX': [('NACEX_chunk_1',
   'https://nacex.example.com/api607243961,DSD119050,DSD120006')],
 'TNT': [('TNT_chunk_1',
   'https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=607245928,607245931,607245945,607245959,607245980,607247521,607247685,607247711,607248164,607248368,607248399,607248487,607249584,607250021,607250239,607250344,607250551,607251089,607251574,607251512,607251526,607251591,607251764,607251778,607251804,607251870,607252040,607252190,607252274,607252380'),
  ('TNT_chunk_2',
   'https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=607252570,607252464,607252478,607252481,607252495,607252549,607252583,607252610,607253544,607252623,607252685,607252756,607252773,607252827,607252932,607252950,607252963,607253045,607253147,607253178,607253266,607253306,607253354,607253385,607253408,607253411,607253527,607253558,607253615,607253629'),
  ('TNT_chunk_3',
   'https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=607253646,607253677,607253694,607253748,607253751,607253782,607253924,607253941,607253955,607253969,607253986,607253990,607254006,607254010,607254023,607254037,607254045,607254054,607254139,607254142,607254085,607254099,607254108,607254111,607254125,607254156,607254160,607254173,607254187,607254403'),
  ('TNT_chunk_4',
   'https://www.tnt.com/express/es_es/site/herramientas-envio/seguimiento.html?searchType=con&cons=607254195,607254200,607254332,607254227,607254235,607254244,607254258,607254275,607254289,607254292,607254301,607254315,607254329,607254346,607254350,607254363,607254377,607254385,607254394,607254417,607254425')],
 'UPS': [('UPS_chunk_1',
   'https://ups.example.com/api1Z1V47910445166110,1Z1V47910443867214,1Z1V47910444927488,1Z1V47910443656755,1Z1V47910443656755')],
 'ADR': [('ADR_chunk_1', 'https://adr.example.com/apinan')]}